{% extends "base.html" %}

{% block title %}thePocket | About{% endblock %}

{% block page_content %}
<div class="w-full mx-auto mb-8 overflow-auto">
    <h1 class="text-4xl py-2 border-b">About</h1>
    <article class="mt-6">
        <p class="indent-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Vivamus at augue eget arcu. Rhoncus dolor purus non enim praesent elementum facilisis. Amet cursus
            sit amet dictum sit amet justo donec. Convallis a cras semper auctor neque vitae tempus quam pellentesque. At
            quis risus sed vulputate odio ut enim blandit volutpat. Justo donec enim diam vulputate ut pharetra sit.
            Tristique sollicitudin nibh sit amet commodo nulla. Donec adipiscing tristique risus nec feugiat in fermentum.
            Enim ut sem viverra aliquet eget sit amet. In nulla posuere sollicitudin aliquam ultrices sagittis orci. Orci ac
            auctor augue mauris augue neque gravida. Maecenas sed enim ut sem viverra aliquet eget sit. Congue quisque
            egestas diam in arcu cursus euismod. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam.
        </p>
        </br>
        <p class="indent-4">Dignissim cras tincidunt lobortis feugiat vivamus at. Purus in mollis nunc sed id. Sed blandit libero volutpat
            sed cras ornare arcu. Et netus et malesuada fames ac turpis. Dictum fusce ut placerat orci nulla pellentesque.
            Habitasse platea dictumst quisque sagittis purus sit amet volutpat. Placerat duis ultricies lacus sed turpis
            tincidunt id. Amet massa vitae tortor condimentum lacinia. Et ultrices neque ornare aenean. In vitae turpis
            massa sed elementum tempus egestas. Congue eu consequat ac felis donec et odio pellentesque diam. Maecenas
            pharetra convallis posuere morbi leo urna molestie. Pretium nibh ipsum consequat nisl vel pretium lectus.
            Suspendisse potenti nullam ac tortor vitae purus faucibus. Id semper risus in hendrerit gravida rutrum quisque
            non. Varius vel pharetra vel turpis nunc eget lorem. Consequat ac felis donec et odio pellentesque diam volutpat
            commodo.
        </p>
        </br>
        <p class="indent-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Vivamus at augue eget arcu. Rhoncus dolor purus non enim praesent elementum facilisis. Amet cursus
            sit amet dictum sit amet justo donec. Convallis a cras semper auctor neque vitae tempus quam pellentesque. At
            quis risus sed vulputate odio ut enim blandit volutpat. Justo donec enim diam vulputate ut pharetra sit.
            Tristique sollicitudin nibh sit amet commodo nulla. Donec adipiscing tristique risus nec feugiat in fermentum.
            Enim ut sem viverra aliquet eget sit amet. In nulla posuere sollicitudin aliquam ultrices sagittis orci. Orci ac
            auctor augue mauris augue neque gravida. Maecenas sed enim ut sem viverra aliquet eget sit. Congue quisque
            egestas diam in arcu cursus euismod. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam.
        </p>
    </article>
</div>
{% endblock %}