{% extends "base.html" %}
{% load static %}

{% block title %}thePocket | Login{% endblock %}

{% block page_content %}
<script src="{% static 'mypy.js' %}"></script>
{% if messages %}
<div class="relative flex justify-between">
    <ul id="msg" class="messages w-full text-center bg-orange-300 bg-opacity-60 py-2 rounded-t">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
        {% endfor %}
        <button onclick="closeMsg()" class="text-3xl text-gray-700 hover:text-gray-400 absolute right-3
         top-0">&times;
        </button>
    </ul>
</div>
{% endif %}

<div class="flex flex-col mx-auto my-[10em] p-6 justify-center w-[34rem] border border-white shadow-2xl">
    <form action="" method="POST">
        {% csrf_token %}
        <h3 class="text-4xl text-red-700 pb-4 tracking-wide">Login Here</h3>
        <hr>
        <div class="flex flex-col mt-6">
            <input type="text" class="focus:bg-none mb-10 border-b border-gray-400 focus:outline-none"
                   name="username"
                   placeholder="username">
            <input type="password" class="mb-3 border-b border-gray-400 focus:outline-none" name="password"
                   placeholder="password">
        </div>
        {% for error in field.errors %}
        <small style="color: red">{{ error }}</small>
        {% endfor %}
        <div class="pt-3">
            <a href="{% url 'password_reset' %}"
               class="text-sm font-light text-cyan-950 hover:text-blue-800 hover:underline">Forgot
                Password?</a>
        </div>

        <button type="submit" class="text-white bg-red-800 rounded-sm px-3 py-1 mt-4 hover:bg-slate-700">Login
        </button>
    </form>
    <div>
        <p class="text-sm text-cyan-950">Don't have an account? <a href="{% url 'register' %}"
                                                                   class="text-blue-900 hover:text-blue-700 hover:underline">Get
            One
            Here.</a></p>
    </div>
</div>
{% endblock %}