{% extends 'base.html' %}

{% block title %}thePocket | Reset Password{% endblock %}

{% block page_content %}

<div class="w-full mx-auto bg-cyan-950 py-8 px-20 rounded-t">
    <h3 class="text-4xl text-red-700 pb-8 tracking-wide">Confirm Password Reset</h3>
    <hr>
    <h2 class="text-xl text-white font-light mt-8">Please enter your new password.</h2>
    <form methon="POST">
        {% csrf_token %}

        <div class="mt-6">
            <p class="font-light text-slate-200 pb-1">New Password*</p>
            {{ form.new_password1 }}
        </div>
        <div class="mt-6">
            <p class="font-light text-slate-200 pb-1">Confirm Password*</p>
            {{ form.new_password2 }}
        </div>

        {% if form.errors %}
        <p class="text-sm text-red-400 tracking-wide font-light pt-1">Your username and password didn't match. Please try again.</p>
        {% endif %}


        <button type="submit" class="text-white bg-red-800 rounded-sm px-3 py-1 my-4 hover:bg-transparent">Reset Password
        </button>
    </form>
</div>
{% endblock %}