{% extends "base.html" %}
{% load static %}

{% block title %}thePocket | {user.username} Details{% endblock %}

{% block page_content %}
<h1 class="text-3xl text-gray-700 tracking-wide">{{ user.first_name }} {{ user.last_name }}</h1>
<div class="flex mt-6 mb-8 overflow-auto">
    <div class="grid xl:grid-cols-2 gap-10 mx-auto">
        <div>
            <img src="{{ user.profile.profile_img.url }}" alt="{{ user.username }}'s profile page" width="100%">
        </div>
        <div>
            <h5 class="text-2xl text-red-700 tracking-wide pb-2">About {{ user.first_name }}</h5>
            <p class="text-sm tracking-wider text-gray-600 mb-6">{{ user.profile.bio }}</p>

            <h5 class="text-md font-light tracking-wider"><span class="text-lg text-red-700 tracking-wide">username:</span>
                {{ user.username }}</h5>
            <h5 class="text-md font-light tracking-wider"><span
                    class="text-lg text-red-700 tracking-wide">email: </span> &nbsp;{{ user.email }}</h5>
            <h5 class="text-md font-light tracking-wider"><span
                    class="text-lg text-red-700 tracking-wide">location: </span> &nbsp;{{ user.profile.location }}</h5>
        </div>
    </div>
</div>


{% endblock %}

<!--<h1 class="text-3xl text-gray-700 tracking-wide">{{ project.title }}</h1>-->
<!--<div class="flex mt-6 mb-8 overflow-auto">-->
<!--    <div class="grid xl:grid-cols-2 gap-10 mx-auto">-->
<!--        <div>-->
<!--            <img src="{{ project.image.url }}" alt="{{ project.title }}" width="100%">-->
<!--        </div>-->
<!--        <div>-->
<!--            <h5 class="text-2xl tracking-wide pb-2">About {{ project.title }}</h5>-->
<!--            <p class="text-sm tracking-wider text-gray-600">{{ project.description }}</p>-->
<!--            <br>-->
<!--            <h5 class="text-2xl tracking-wide pb-2">Genre</h5>-->
<!--            <p class="text-sm tracking-wider text-gray-600">{{ project.technology }}</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->