{% extends "base.html" %}
{% load static %}

{% block title %}theGroove | Register{% endblock %}
{% block page_content %}
<script src="{% static 'mypy.js' %}"></script>
{% if messages %}
<div class="relative flex justify-between">
    <ul id="msg" class="messages w-full text-center bg-orange-300 bg-opacity-60 py-2 rounded-t">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
        {% endfor %}
        <button onclick="closeMsg()" class="text-3xl text-gray-700 hover:text-gray-400 absolute right-3
         top-0">&times;
        </button>
    </ul>
</div>


{% endif %}


<div class="flex flex-col mx-auto my-[4em] p-6 justify-center w-[36rem] border border-white shadow-2xl">
    <form action="" method="POST">
        {% csrf_token %}
        <h3 class="text-4xl text-red-700 pb-4 tracking-wide">Register Here</h3>
        <hr>
        {% for field in form %}
        <div class="mt-6">
            <p class="text-white">{{ field.label }}: <br> <span class="text-gray-800">{{ field }}</span></p>

            {% for error in field.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="flex text-white pt-6">
            <input type="checkbox" required>&nbsp; &nbsp;
            <p class="text-gray-900 font-light">I have read and agree to the <a href="{% url 'terms' %}" class="text-cyan-700 hover:text-cyan-950">Terms
                and
                Conditions</a> and <a href="{% url 'privacy' %}" class="text-cyan-700 hover:text-cyan-950"> Privacy
                Policy</a>.
        </div>

        <button type="submit" class="bg-red-800 text-white rounded-sm px-3 py-1 mt-6 mb-4 hover:bg-slate-700">
            Register
        </button>

    </form>
</div>
{% endblock %}