{% extends "base.html" %}
{% load static %}

{% block title %}thePocket | {{ category | title }}{% endblock %}

{% block page_content %}
<script src="{% static 'menu.js' %}"></script>
<h1 class="text-4xl py-2 border-b">{{ category | title }}</h1>
<div class="w-full mx-auto mb-8 h-[62%] overflow-y-auto">


    <hr>
    {% for post in posts %}
    <h2 class="mt-4 text-lg underline text-red-700"><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
    <small>
        posted by: <a href="{% url 'profile_detail' post.user.id %}" class="text-red-700 hover:text-gray-800">
        {{ post.user }}</a>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a class="text-blue-700" href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p class="mt-4 text-gray-600">{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}