{% extends "base.html" %}
{% load static %}
{% block title %}thePocket | Blog{% endblock %}

{% block page_content %}
<div class="w-full mx-auto mb-8 overflow-auto">
    <div class="flex justify-between">
        <h1 class="text-4xl py-2 border-bz-10">theBlog</h1>
        <div class="relative inline-block">
            <button id="dropbtn" onclick="dropCats()" class="cursor-pointer">Select a Category</button>
            
            <div id="dropDown" class="flex flex-col p-2 leading-relaxed bg-white bg-opacity-85 border border-white rounded-sm shadow-lg shadow-gray-400
            display-none absolute min-w-160px z-10">
                {% for post in posts %}
                {% for category in post.categories.all %}

                <a href="{% url 'blog_category' category.name %}">{{ category.name }}</a>

                {% endfor %}
                {% endfor %}
            </div>
        </div>

    </div>


    <!--        <div class="dropdown hover:display-block">-->
    <!--            <button class="dropbtn">Select A Category</button>-->
    <!--            <div class="dropdown-content">-->
    <!--                -->
    <!--                -->
    <!--
    <!--            </div>-->
    <!--        </div>-->


    <!--    <div class="flex justify-between">-->
    <!--        <h1 class="text-4xl py-2 border-b">theBlog</h1>-->
    <!--        <div>-->
    <!--            <select>-->
    <!--                <option>Select a Category</option>-->
    <!--&lt;!&ndash;                {% for post in posts %}&ndash;&gt;-->
    <!--                    {% for category in post.categories.all %}-->
    <!--                    <option>-->
    <!--                        <a href="{% url 'blog_category' category.name %}">{{ category.name }}</a>-->
    <!--                    </option>-->
    <!--                    {% endfor %}-->
    <!--&lt;!&ndash;                {% endfor %}&ndash;&gt;-->
    <!--            </select>-->
    <!--        </div>-->
    <!--    </div>-->


    <div>
        {% for post in posts %}
        <h2 class="mt-4 text-lg underline text-red-700"><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a>
        </h2>
        <small>
            posted by: <a href="{% url 'profile_detail' post.user.id %}" class="text-red-700 hover:text-gray-800">
            {{ post.user }}</a>
            {{ post.created_on.date }}
            Categories:&nbsp;
            {% for category in post.categories.all %}
            <a class="text-blue-700" href="{% url 'blog_category' category.name %}">
                {{ category.name }}
                {% if category.posts.count > 1 %}
                ({{ category.posts.count }} posts)
                {% else %}
                ({{ category.posts.count }} post)
                {% endif %}
            </a>&nbsp;
            {% endfor %}
        </small>
        <p class="mt-4 text-gray-600">{{ post.body | slice:":400" }}...</p>
        {% endfor %}
    </div>
</div>
{% endblock %}