{% extends "base.html" %}

{% block title %}thePocket | Blog{% endblock %}

{% block page_content %}
<div class="w-full mx-auto mb-8 overflow-auto">
    <div class="flex justify-between">
        <h1 class="text-4xl py-2 border-b">theBlog</h1>
        <div class="flex flex-col">
            <select class="focus:outline-none px-2" data-te-select-init data-te-select-visible-options="3">
                <option value="Categories">Categories</option>
                <option value="Cat 1">Community Board</option>
                <option value="Cat 2">Geared Up?</option>
                <option value="Cat 3">Influences</option>
                <option value="Cat 4">The Woodshed</option>
            </select>
        </div>

    </div>

    {% for post in posts %}
    <h2 class="mt-4 text-lg underline text-red-700"><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
        posted by: <a href="{% url 'profile_detail' post.user.id %}" class="text-red-700 hover:text-gray-800">{{
        post.user }}</a>
        {{ post.created_on.date }}
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a class="text-blue-700" href="{% url 'blog_category' category.name %}">
            {{ category.name }}
            {% if category.posts.count > 1 %}
            ({{ category.posts.count }} posts)
            {% else %}
            ({{ category.posts.count }} post)
            {% endif %}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p class="mt-4 text-gray-600">{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}