{% extends "base.html" %}
{% load static %}

{% block title %}thePocket | Contact{% endblock %}

{% block page_content %}
<script src="{% static 'mypy.js' %}"></script>
{% if messages %}
<div class="relative flex justify-between">
    <ul id="msg" class="messages w-full text-center bg-orange-300 bg-opacity-60 py-2 rounded-t">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
        {% endfor %}
        <button onclick="closeMsg()" class="text-3xl text-gray-700 hover:text-gray-400 absolute right-3
         top-0">&times;
        </button>
    </ul>
</div>


{% endif %}
<div class="flex justify-between bg-gray-700 px-20 pt-8 pb-6 text-white">
    <div class="flex flex-col mb-4">
        <h2 class="text-4xl">Contact</h2>
        <p>Let us know how we can help.</p>
    </div>
    <div class="flex flex-col items-center w-[27.3em]">
        <p class="text-orange-200 text-sm font-thin tracking-wide">Want to 'Get Featured'? Tell us, briefly, who you
            are, include links to your bio and audio files, and if you have one, a press packet. If we choose you, we
            will contact you via email. Good luck!
        </p>
    </div>
</div>


<div class="grid grid-flow-col gap-3 text-gray-900 border-r-2 border-gray-700" role="alert">
    <div class="col-span-2 overflow-hidden">
        <img src="{% static '/img/black_phone.png' %}" class="opacity-70 h-[115%] mt-[-9%]">
    </div>
    <div class="cols-span-1">
        <form action="" method="post" class="px-auto pr-3 pt-4">
            <div>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit"
                        class="w-full py-1 px-2 mt-3 rounded-sm bg-orange-300 hover:bg-gray-700 hover:text-white">Send
                </button>
            </div>

            <div class="flex flex justify-center space-x-5 my-6">
                <a href="#"><i class="text-3xl fa-brands fa-facebook hover:text-gray-700 hover:animate-pulse"></i></a>
                <a href="#"><i class="text-3xl fa-brands fa-twitter hover:text-gray-700 hover:animate-pulse"></i></a>
                <a href="#"><i
                        class="text-3xl fa-brands fa-square-instagram hover:text-gray-700 hover:animate-pulse"></i></a>
            </div>
        </form>
    </div>
</div>
{% endblock %}