{% extends 'base.html' %}

{% block title %}thePocket | Password Reset{% endblock %}

{% block page_content %}
<!--<div class="form-content my-3 p-3">-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-lg-5">-->
{% if validlink %}
<div class="flex flex-col mx-auto justify-center w-[30rem] h-[36em]">
    <div class="flex flex-col mx-auto w-[40rem] justify-center">
        <h3 class="text-4xl text-red-700 pb-8 tracking-wide">Reset Your Password</h3>
    </div>
    <!--    {% if form.errors %}-->
    <!--    <div class="bg-arange-500" role="alert">-->
    <!--        <div id="form_errors">-->
    <!--            {% for key, value in form.errors.items %}-->
    <!--            <strong>{{ value }}</strong>-->
    <!--            {% endfor %}-->
    <!--        </div>-->
    <!--        <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
    <!--            <span aria-hidden="true">&times;</span>-->
    <!--        </button>-->
    <!--    </div>-->
    <!--    {% endif %}-->

<!--    <div class="flex flex-col">-->
        <form class="flex flex-col" method="POST">
            {% csrf_token %}

<!--            <input name="old_password" class="pt-8 border-b border-gray-300 focus:outline-none"-->
<!--                   placeholder="Old password*"-->
<!--                   type="password" id="id_old_password"-->
<!--                   required="true">-->
            <input name="new_password1" class="border-b border-gray-300 focus:outline-none"
                   placeholder="New password*"
                   type="password"
                   id="id_new_password1"
                   required="true">
            <input name="new_password2" class="pt-8 mb-6 border-b border-gray-300 focus:outline-none"
                   placeholder="Confirm password*" type="password"
                   id="id_new_password2" required="true">


            <!--            <div class="form-row">-->
            <!--                <div class="col-md-10 offset-md-1">-->
            <!--                    <div class="form-group">-->
            <!--                        <label class="small mb-1" for="id_new_password1">New Password</label>-->
            <!--                        <input type="password" name="new_password1" autocomplete="new-password"-->
            <!--                               class="form-control" required id="id_new_password1"-->
            <!--                               placeholder="Enter password"/>-->
            <!--                        <span>-->
            <!--                                                </span>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="form-row">-->
            <!--                <div class="col-md-10 offset-md-1">-->
            <!--                    <div class="form-group">-->
            <!--                        <label class="small mb-1" for="id_new_password2">New Password-->
            <!--                            Confirmation</label>-->
            <!--                        <input type="password" name="new_password2" autocomplete="new-password"-->
            <!--                               required id="id_new_password2" class="form-control"-->
            <!--                               placeholder="Confirm password"/>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="form-row">-->
            <!--                <div class="col-md-10 offset-md-1">-->
            <!--                    <div class="form-group mt-0 mb-1">-->
            <!--                        <button type="submit" class="col-md-12 btn btn-dark" id="reset">Reset Password-->
            <!--                        </button>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <button class="w-[10em] ml-[-1.8rem] py-2 text-red-700 hover:text-slate-600" type="submit">Confirm reset
            </button>
            <!--                        </button>-->
        </form>
<!--    </div>-->
</div>
{% else %}
<div class="bg-orang-500">
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</div>
{% endif %}
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
{% endblock %}