{% extends 'base.html' %}

{% block page_content %}

<div class="flex flex-col mx-auto justify-center w-[40rem] h-[36em]">

	<div class="flex flex-col mx-auto w-[40rem] justify-center">
		<h1 class="text-4xl text-red-700 pb-8 tracking-wide">Set new password</h1>
		  <p class="m-auto pb-4 text-lg font-light">
		    We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.
		  </p>
		  <p class="m-auto pb-8 text-lg font-light">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.
		  </p>
		  <p class="w-[10em] py-2 text-red-700 hover:text-slate-600"><a href="{% url 'login' %}">Return to home page</a></p>
	</div>
</div>

{% endblock %}