{% extends 'base.html' %}

{% block title %}thePocket | Password Reset{% endblock %}

{% block page_content %}

{% if validlink %}
<div class="flex flex-col mx-auto justify-center w-[30rem] h-[36em]">
    <div class="flex flex-col mx-auto w-[40rem] justify-center">
        <h3 class="text-4xl text-red-700 pb-8 tracking-wide">Reset Your Password</h3>
    </div>
    <form class="flex flex-col" method="POST">
        {% csrf_token %}
        <input name="new_password1" class="border-b border-gray-300 focus:outline-none"
               placeholder="New password*"
               type="password"
               id="id_new_password1"
               required="true">
        <input name="new_password2" class="pt-8 mb-6 border-b border-gray-300 focus:outline-none"
               placeholder="Confirm password*" type="password"
               id="id_new_password2" required="true">

        <button class="w-[10em] ml-[-1.8rem] py-2 text-red-700 hover:text-slate-600" type="submit">Confirm reset
        </button>

    </form>

</div>
{% else %}
<div class="bg-orang-500">
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</div>
{% endif %}
{% endblock %}