{% extends 'base.html' %}

{% block page_content %}

<div class="h-[38em]">
    <div class="flex flex-col h-full justify-center items-center">
        <h1 class="bg-slate-700 text-3xl py-4 px-6 text-green-600 border-2 border-green-600 rounded-full"><i
                class="fa-regular fa-circle-check"></i>
            Your password has been updated, {{ user.profile.first_name }}!
        </h1>
        <div class="py-6">
            <a href="{% url 'profile' %}"<p class="font-normal text-black text-lg tracking-wide hover:text-red-700 hover:font-light">
            return to profile page</a></p>
        </div>

    </div>

</div>

{% endblock %}
