<footer class="grid grid-cols-2 bg-gray-800 px-20 py-10">
    <div class="flex space-x-12">
        <ul class="text-sm text-white font-thin leading-relaxed tracking-wide">
            <li><a href="#" class="hover:text-gray-400">Help</a></li>
            <li><a href="/about/" class="hover:text-gray-400">About Us</a></li>
            <li><a href="/blog/" class="hover:text-gray-400">Blog</a></li>
            <li><a href="/projects/" class="hover:text-gray-400">Featured Artists</a></li>
        </ul>
        <ul class="text-sm text-white font-thin leading-relaxed tracking-wide">
            <li><a href="" class="hover:text-gray-400">Privacy</a></li>
            <li><a href="" class="hover:text-gray-400">Terms</a></li>
            <li><a href="/contact/" class="hover:text-gray-400">Get Featured</a></li>
            <li><a href="/contact/" class="hover:text-gray-400">Contact Us</a></li>
        </ul>
    </div>
    <div class="flex flex-col items-end justify-end text-small font-thin leading-relaxed tracking-wide text-white">
        <p class=" text-sm font-thin leading-relaxed tracking-wide text-white">'Women and Rhythm Section First.'
        <span class="text-xs text-gray-400 italic">-Jaco Pastorius</span></p>
        <p class=" text-sm font-thin leading-relaxed tracking-wide text-white">Copyright &copy; 2023 Fake Name Dev, L.L.C..
            All Rights Reserved</p>
    </div>

</footer>