{% extends "base.html" %}

{% block title %}theGroove | Home{% endblock %}

{% block page_content %}
<div class="flex mt-10">
    <div class="mx-auto">
        {% if user.is_authenticated %}
        <h2>Welcome back {{ user.username }}!</h2>
        {% else %}
        <div class="flex flex-col w-3/4 mx-auto text-center">
            <h5 class="tracking-wide">Welcome to <span class="text-xl font-semibold">theGroove</span>, a website dedicated
            to the musicians' community. To get started,
            <a href="{% url 'login' %}" class="text-red-700 hover:text-blue-700">login</a> or
            <a href="{% url 'signup' %}" class="text-red-700 hover:text-blue-700">register</a>.</h5>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}