{% extends "base.html" %}

{% block title %}theGroove | Home{% endblock %}

{% block page_content %}
    {% if user.is_authenticated %}
    <div class="bg-gray-700 rounded p-20 text-white" role="alert">
        <h3 class="text-3xl">Welcome Back {{ user.username }}!</h3>
        <a href="{% url 'logout' %}" class="bg-red-700 rounded py-1 px-3 hover:bg-transparent">Logout</a>
    </div>
    {% else %}
    <div class="bg-gray-700 rounded p-20 text-white" role="alert">
        <h2 class="text-4xl">Welcome to theGroove</h2>
        <div class="mt-2">
            <a href="{% url 'login' %}" class="bg-red-700 rounded py-1 px-3 hover:bg-transparent">Login</a>
            <a href="{% url 'register' %}" class="hover:text-gray-400 p-2">Register</a>
        </div>
    </div>
    {% endif %}
{% endblock %}