{% extends "base.html" %}
{% load static %}

{% block title %}thePocket | Login{% endblock %}

{% block page_content %}
<div class="w-full mx-auto bg-cyan-950 py-8 px-20 rounded-t">
    <form class="w-full" action="" method="POST">
        {% csrf_token %}
        <h3 class="text-4xl text-red-700 pb-4 tracking-wide">Login</h3>
        <hr>
        {% for field in form %}
        <div class="mt-6">
            <p class="text-white">{{ field.label }}: <br></p><span class="text-gray-800">{{ field }}</span>

            {% for error in field.errors %}
                <small style="color: red">{{ error }}</small>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="text-white border border-white rounded px-3 py-1 my-6 hover:bg-cyan-800">Login</button>
    </form>
    <div>
        <p class="text-sm text-white">Don't have an account? <a href="{% url 'register' %}"
            class="text-cyan-400 hover:text-cyan-600">Get One Here.</a></p>
    </div>
</div>
{% endblock %}