<!--{% extends 'base.html' %}-->

<!--{% block title %}thePocket | {{ user.username }}{% endblock %}-->

<!--{% block page_content %}-->

<!--<div class="flex mt-10 mb-4 overflow-auto">-->
<!--    <div class="grid xl:grid-cols-2 gap-10 mx-auto">-->
<!--        <div>-->
<!--            <img src="{{ user.profile_img.url }}" alt="{{ user.username }}" width="100%">-->
<!--        </div>-->
<!--        <div>-->
<!--            <h1 class="text-3xl pb-4 text-gray-700 tracking-wide">{{ user.first_name }} {{ user.last_name }}</h1>-->
<!--            <p class="text-sm tracking-wider text-gray-600">{{ user.description }}</p>-->
<!--            <br>-->
<!--            <div>-->
<!--                <h5 class="text-2xl tracking-wide pb-2">Info</h5>-->
<!--                <p class="text-lg tracking-wider text-gray-600"><strong>username: </strong>{{ user.username }}</p>-->
<!--                <p class="text-lg tracking-wider text-gray-600"><strong>signed up on: </strong>{{ user.date_joined }}</p>-->
<!--&lt;!&ndash;                <p class="text-lg tracking-wider text-gray-600"><strong>email address: </strong>{{ user.email }}</p>&ndash;&gt;-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock %}-->




