{% extends "base.html" %}
{% load static %}

{% block title %}thePocket | Details{% endblock %}

{% block page_content %}
<h1 class="text-3xl text-gray-700 tracking-wide">{{ project.title }}</h1>
<div class="flex mt-6 mb-8 overflow-auto">
    <div class="grid xl:grid-cols-2 gap-10 mx-auto">
        <div>
            <img src="{{ project.image.url }}" alt="{{ project.title }}" width="100%">
        </div>
        <div>
            <h5 class="text-2xl tracking-wide pb-2">About {{ project.title }}</h5>
            <p class="text-sm tracking-wider text-gray-600">{{ project.description }}</p>
            <br>
            <h5 class="text-2xl tracking-wide pb-2">Genre</h5>
            <p class="text-sm tracking-wider text-gray-600">{{ project.technology }}</p>
        </div>
    </div>
</div>


{% endblock %}